@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input, button, textarea, select {
  -webkit-appearance: none;
  appearance: none; }

body {
  color: #FFFFFF;
  font-family: ヒラギノ明朝 ProN;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

html {
  font-size: 62.5%; }

.header_top {
  background: #000;
  width: 100%;
  border-bottom: 0.5px solid #707070; }
  .header_top .container {
    max-width: 95%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center; }
    .header_top .container .home_log_header a .imaga_log {
      height: 83px;
      width: 100%; }
    .header_top .container .nav_header {
      margin-left: auto;
      display: flex;
      align-items: center; }
      .header_top .container .nav_header .list_nav_header {
        font-size: 2rem;
        display: flex;
        padding-right: 6.2rem; }
        .header_top .container .nav_header .list_nav_header :not(:first-child) {
          margin-left: 3.6rem; }
      .header_top .container .nav_header .sns_nav_header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; }
        .header_top .container .nav_header .sns_nav_header img {
          object-fit: contain;
          height: 40px;
          padding-right: 2.4rem; }

.main_area img {
  width: 100%;
  max-width: 100%;
  height: auto; }

.about_area {
  background: #000;
  border-top: 0.5px solid #707070;
  width: 100%;
  height: auto;
  padding: 12.8rem 0; }
  .about_area .about_area_content {
    display: flex;
    width: calc(100% - 100px);
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between; }
    .about_area .about_area_content .about_left_content {
      width: 40%; }
      .about_area .about_area_content .about_left_content h2 {
        font-size: 5.08rem;
        letter-spacing: 1rem; }
      .about_area .about_area_content .about_left_content h3 {
        font-size: 2rem;
        margin-top: 2rem; }
      .about_area .about_area_content .about_left_content p {
        margin-top: 6.08rem;
        line-height: 4rem;
        font-size: 1.6rem; }
    .about_area .about_area_content .about_right_content {
      width: 50%; }
      .about_area .about_area_content .about_right_content .about_area_image {
        width: 80%; }

.concept_area {
  background: #000;
  border-top: 0.5px solid #707070;
  width: 100%;
  height: 1250px;
  padding: 12.8rem 0; }
  .concept_area .concept_area_contents {
    width: calc(100% - 100px);
    max-width: 1000px;
    margin: 0 auto;
    position: relative; }
    .concept_area .concept_area_contents .concept_area_image {
      width: 50%; }
    .concept_area .concept_area_contents .concept_area_sentence {
      position: absolute;
      top: 50%;
      left: 45%;
      background-color: #FFFFFF;
      color: #000;
      text-align: center;
      width: 50%;
      height: 80%;
      padding: 4.8rem; }
      .concept_area .concept_area_contents .concept_area_sentence h2 {
        font-size: 2.6rem;
        margin-top: 5rem; }
      .concept_area .concept_area_contents .concept_area_sentence .first_sentence {
        font-size: 2rem;
        margin-top: 6rem; }
      .concept_area .concept_area_contents .concept_area_sentence .second_sentence {
        font-size: 2rem;
        margin-top: 6rem; }

.form_contact_area {
  background: #000;
  border-top: 0.5px solid #707070;
  width: 100%;
  height: 900px;
  padding: 12.8rem 0; }
  .form_contact_area .form_area {
    max-width: 800px;
    text-align: center;
    margin: 0 auto; }
    .form_contact_area .form_area h2 {
      font-size: 5.08rem;
      margin-bottom: 7.5rem; }
    .form_contact_area .form_area table {
      margin: 0 auto;
      font-size: 1.5rem; }
      .form_contact_area .form_area table tr th {
        padding: 2.3rem 1.7rem; }
      .form_contact_area .form_area table tr td {
        padding: 1.7rem; }
      .form_contact_area .form_area table tr input, .form_contact_area .form_area table tr textarea {
        background-color: #e0e0e0; }
      .form_contact_area .form_area table tr input {
        width: 300px;
        height: 40px;
        border-radius: 0.5rem; }
      .form_contact_area .form_area table tr textarea {
        width: 300px;
        height: 110px;
        border-radius: 0.5rem; }
    .form_contact_area .form_area .form_button {
      text-align: center;
      padding: 8rem 0 8rem 5.5rem; }
      .form_contact_area .form_area .form_button input[type="submit"] {
        background: #000;
        padding: 2rem;
        text-align: center;
        color: #FFF;
        margin: 0.5rem;
        border: 1px solid;
        border-radius: 0.5rem;
        width: 250px;
        font-size: 1.5rem; }

.footer_area {
  background: #000;
  border-top: 0.5px solid #707070;
  width: 100%; }
  .footer_area .container_footer {
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto; }
    .footer_area .container_footer ul {
      display: flex;
      justify-content: space-between; }
      .footer_area .container_footer ul li {
        font-size: 2rem;
        padding: 10rem 3rem 13rem 3rem; }
    .footer_area .container_footer .copyright {
      padding-bottom: 3rem;
      font-size: 1.2rem; }

/*# sourceMappingURL=style.css.map */
