.header_top{
  background: $mainClor;
  width: 100%;
  border-bottom: 0.5px solid #707070;
  .container{
    max-width: 95%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    .home_log_header{
      a {
        .imaga_log{
          height: 83px;
          width: 100%;
        }
      }
    }
    .nav_header{
      margin-left: auto;
      display: flex;
      align-items: center;
      @media screen and (min-width: 600px){
          
      }
      .list_nav_header{
        font-size: 2rem;
        display: flex;
        padding-right: 6.2rem;
        :not(:first-child){
          margin-left: 3.6rem;
        }
      }
      .sns_nav_header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img{
          object-fit: contain;
          height: 40px;
          padding-right: 2.4rem;
        }
      }
    }
  }
}


