.about_area{
  background: $mainClor;
  border-top: 0.5px solid #707070;
  max-width: 100%;
  .about_area_content{
    display: flex;
    .about_left_content{
      margin: 300px 0 0 250px;
      h2{
        font-size: 60px;
        letter-spacing: 10px;
      }
      h3{
        font-size: 20px;
        margin-top: 20px;
      }
      p{
        margin-top: 60px;
        line-height: 40px;
      }
    }
    .about_right_content{
      margin-left: auto;
      .about_area_image{
        height: 700px;
        margin: 250px 250px 250px 0;
      }
    }
  }
}
.concept_area{
  background: $mainClor;
  border-top: 0.5px solid #707070;
  .concept_area_contents{
    position: relative;
    .concept_area_image{
      height: 850px;
      margin: 400px;
    }
    .concept_area_sentence{
      position: absolute;
      top: 730px;
      left: 850px;
      background-color: $mainFontColor;
      color: $mainClor;
      text-align: center;
      height: 570px;
      width: 430px;
      h2{
        font-size: 25px;
        padding-top: 95px;
      }
      .first_sentence{
        font-size: 20px;
        padding-top: 70px;
      }
      .second_sentence{
        font-size: 20px;
        padding-top: 60px;
      }
    }
  }
}

.form_contact_area{
  background: $mainClor;
  border-top: 0.5px solid #707070;
  max-width: 100%;
  h2{
    margin-top: 80px;
    font-size: 25px;
    text-align: center;
  }
  table{
    margin: 80px 650px 10px auto;
    tr{
      th{
        padding: 17px;
      }
      td{
        padding: 17px;
      }
      input,textarea{
        background-color: #e0e0e0;
      }
      input{
        width: 250px;
        height: 30px;
      }
      textarea{
        width: 250px;
        height: 100px;
      }
    }
  }
  .form_button{
    text-align: center;
    padding: 20px 0;
    input[type="submit"]{
      background:$mainClor;
      padding:10px;
      text-align:center;
      color:#FFF;
      margin:5px;
      border:1px solid;
      width: 150px;
    }
  }
} 