@charset "UTF-8";

$mainClor:#000;
$mainFontColor:#FFFFFF;
$mainFontFamily:ヒラギノ明朝 ProN;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input, button, textarea, select {
  -webkit-appearance: none;
  appearance: none;
}

body{
  color: $mainFontColor;
  font-family: $mainFontFamily;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

html{
  font-size: 62.5%;
}

@import './header';
@import './main';
@import './footer';